<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir or 'ltr' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <!-- prettier-ignore -->
    <style>
      nav#footer{all:unset}.skip-link{clip:rect(1px,1px,1px,1px);display:block;left:1rem;top:4rem;z-index:999}.skip-link,.visually-hidden{height:1px;overflow:hidden;position:absolute;width:1px}.visually-hidden{clip:rect(0,0,0,0);white-space:nowrap}.skip-link:focus,.visually-hidden:focus{clip:auto;background-color:var(--background);color:var(--links);height:auto;line-height:1;overflow:visible;padding:1rem;width:auto}.skip-link:not(:focus){clip:rect(0 0 0 0);border:0;height:auto;margin:0;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px}
    </style>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"
    />

    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />

    {% for link in page.url | locale_links %}
    <link
      rel="alternate"
      hreflang="{{ link.lang }}"
      href="{{ meta.url }}{{ link.url }}"
    />
    {% endfor %}

    <link rel="canonical" href="{{ meta.url }}{{ page.url }}" />
    <meta
      name="description"
      content="{% if description %}
    {{ description }}
    {% else %}
    {{ meta.siteDescription }}
    {% endif %}"
    />
  </head>

  <body>
    {% include "header.njk" %}
    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
  </body>
</html>
