<header>
  <nav aria-label="Primary">
    <ul>
      {% for item in navigation[lang] %}
      <li>
        <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
