{% set activePage = page.url %}

<a href="#main" class="skip-link">{{ languages[page.lang].skipText }}</a>

<header>
  <nav aria-label="{{ languages[page.lang].ariaPrimary }}">
    <ul>
      {% for item in navigation[page.lang] %}
      <li>
        <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >
      </li>
      {% endfor %}
      <li>
        <a href="https://github.com/madrilene/eleventy-i18n">GitHub</a>
      </li>
    </ul>
  </nav>
</header>
